<%- include('../includes/head.ejs') %>
  </head>

  <body>
  <%- include('../includes/navigation.ejs') %>

    <main>
      <form action="/admin/add-product" method="POST" class="product-form">
        <div class="form-control">
          <label for="title">Product:</label>
          <input type="text" name="title" id="title" />
        </div>
        <div class="form-control">
          <label for="imageURL">Image URL:</label>
          <input type="text" name="imageURL" id="imageURL" />
        </div>
        <div class="form-control">
          <label for="price">Price:</label>
          <input type="text" name="price" id="price" />
        </div>
        <div class="form-control">
          <label for="description">Product:</label>
          <textarea name="description" id="description" rows="5"></textarea>
        </div>
        <button type="submit">Add Product</button>
        </form>
    </main>
 <%- include('../includes/end.ejs') %>
 
